@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@font-face {
    font-family:'Aero';
    src: url('/Binary-Misfits/Fonts/Aero.ttf');
}
@font-face {
    font-family:'Forte';
    src: url('/Binary-Misfits/Fonts/FORTE.TTF');
}
@font-face {
    font-family:'Helvetica';
    src: url('/Binary-Misfits/Fonts/Helvetica.ttf')
}
@font-face {
    font-family:'Maldini';
    src: url('/Binary-Misfits/Fonts/MALDINI-NORMAL.otf');
}
@font-face {
    font-family:'Minecraft';
    src: url('/Binary-Misfits/Fonts/Minecraft.ttf');
}
@font-face {
    font-family:'Roboto';
    src: url('/Binary-Misfits/Fonts/Roboto-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.blogCard{
    height: clamp(200px, 18vw, 700px);
    width: clamp(400px, 45vw, 1200px);
    border-radius: 18px;
    background-color: white;
    /* background-color: #1A1A2E; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 12px #000;
    transition: all ease 0.25s;
    transform: scale(1);
}

.blogCard:hover{
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    transition: all ease 0.25s;
    cursor: pointer;
}

.blogCardContent{
    display: flex;
    flex-direction: row;
}

.blogImage{
    width: clamp(120px, 12vw, 420px);
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.blogName{
    font-family: "Roboto", serif;
    font-weight: 700;
    width: 90%;
    text-align: left;
    color: #6332F6;
    /* color: white; */
    font-size: clamp(1rem, 1.8vw, 4.5rem);
    overflow: hidden;
}

.blogs{
    margin-top: 0.7%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 20px;
    width: 70%;
    padding-bottom: 5%;
}

.blogSection{
    margin: 10rem 0;
}

.blogText{
    font-family: "Roboto", sans-serif;
    color: black;
    /* color: #909090; */
    text-align: justify;
    margin: 0px 40px 10px 0;
    max-height: 4.875rem;
    overflow: hidden;
    font-size: clamp(0.8rem, 2vw, 1rem);
}

.consoleIcon{
    /* height: clamp(60px, 6vw, 230px); */
    width: clamp(60px, 6vw, 230px);
}

.heading{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 70%;
    padding-bottom: 1rem;
}

.headingText{
    font-family: "Maldini", serif;
    color: white;
    font-size: clamp(50px, 6vw, 220px);
    text-shadow: 0px 0px 12px #000;
    margin-left: 1rem;
    padding-top: 0.4rem;
}

.homeBlogSection{
    background-color: #6332F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lowerImage{
    background-image: url('/Binary-Misfits/Images/blogdown.png')!important; 
    background-repeat: no-repeat;
    height: 18vw; 
    background-position: top;
    background-size: 100vw;
    padding-bottom: 9.55rem;
    margin-top: -2px;
}

.readMore{
    font-family: "Roboto", sans-serif;
    color: #6332F6;
    /* color: white; */
    width: 90%;
    text-align: right;
    /* margin-bottom: 20px; */
}

.upperImage{
    background-image: url('/Binary-Misfits/Images/blogup.png')!important;
    background-repeat: no-repeat;
    height: 18vw;
    background-position: bottom;
    background-size: 100vw;
    padding-top: 9.55rem;
    margin-bottom: -2px;
} 


@media only screen and (min-width: 1920px){
    .blogs{
        row-gap: 69px;
    }
}

@media only screen and (min-width: 2560px){
    .blogs{
        row-gap: 100px;
    }

    .blogText{
        font-family: "Roboto", sans-serif;
        font-size: 30px;
        color: black;
        text-align: justify;
        margin: 0px 40px 10px 0;
        max-height: 10.8rem;
        overflow: hidden;
    }
}

@media only screen and (min-width: 3840px){
    .blogs{
        row-gap: 130px;
    }
}


/* Non-standard media query~ Ishaan */
@media only screen and (min-width: 913px){ 
    .blogCard{
        padding: 10px;
    }

    .blogs{
        row-gap: 50px;
    }

    .heading{
        justify-content: flex-start;
    }      
}

@media only screen and (min-width: 600px) and (max-width: 913px){
    .blogs{
        width: 80%;
        row-gap: 35px;
    }

    .heading{
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 600px){
    .blogCard{
        padding: 10px;
    }
}

@media only screen and (max-width: 600px){
    .blogCard{
        width: fit-content;
        padding: 10px;
    }

    .blogImage{
        display: none;
    }

    .blogText{
        margin: 0 auto;
    }
}