@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family:'Aero';
    src: url('/Binary-Misfits/Fonts/Aero.ttf');
}
@font-face {
    font-family:'Forte';
    src: url('/Binary-Misfits/Fonts/FORTE.TTF');
}
@font-face {
    font-family:'Helvetica';
    src: url('/Binary-Misfits/Fonts/Helvetica.ttf')
}
@font-face {
    font-family:'Maldini';
    src: url('/Binary-Misfits/Fonts/MALDINI-NORMAL.otf');
}
@font-face {
    font-family:'Minecraft';
    src: url('/Binary-Misfits/Fonts/Minecraft.ttf');
}
@font-face {
    font-family:'Roboto';
    src: url('/Binary-Misfits/Fonts/Roboto-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: whitesmoke;
    /* background-color: #101927; */
}

ul{
    margin: 20px 0 0 40px;
}

.actualContent{
    background-color: #6332F6;
    display: flex;
    justify-content: center;
    align-content: center;
}

.blog2Vid, .blog3Vid{
    display: flex;
    justify-content: center;
}

.blog2Vid{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    /* width: clamp(250px, 40vw, 1200px); */
    border: 2px solid rgb(214, 214, 214);
    border-radius: 4px;
}

.blog2Vid iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blog3Vid{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    /* width: clamp(250px, 40vw, 1200px); */
    border: 2px solid rgb(214, 214, 214);
    border-radius: 4px;
}

.blog3Vid iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blog2Vid:hover, .blog3Vid:hover{
    box-shadow: 0 0 10px #000;
}

.backToHomePage{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    font-size: clamp(1.5625rem, 2vw, 4.1rem);
    margin: 15px;
    color: #6332F6;
    font-family: "Minecraft", sans-serif;
    width: fit-content;
}

.backToHomePage h3{
    padding-top: 5px;
}

.backToHomePage:hover i, .backToHomePage:hover h3{
    color: white;
    text-shadow: 0 0 12px #6332F6;
}

.blogBg{
    height: 90vh;
    width: 90vw;
    border-radius: 30px;
    background-color: white;
}

.blogSA{
    min-height: 90vh;
    width: 80vw;
    border-radius: 30px;
    background-color: white;
    /* background-color: #1B1B2F; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 12px;
}

.blogSAContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogSAHeading{
    font-family: 'Montserrat', sans-serif;
    margin: 2rem 0;
    width: 90%;
    text-align: center;
    color: #6332F6;
    font-size: max(2.8vw ,2.5rem);
    overflow: hidden;
}

.img1{
    width: clamp(250px, 50vw, 1300px);
}

.img2{
    width: clamp(250px, 40vw, 1200px);
    border: 2px solid rgb(214, 214, 214);
    border-radius: 15px;
}

.img2:hover{
    box-shadow: 0 0 10px #000;
}

.lowerWave{
    background-image: url('/Binary-Misfits/Images/blogdown.png')!important; 
    background-repeat: no-repeat;
    height: 20vw; 
    background-position: top;
    background-size: 100vw;
    margin-top: -2px;
}

.para{
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: max(1.6vw ,1.375rem);
    line-height: 35px;
    width: 80%;
    margin: 40px auto;
}

.para a{
    text-decoration: underline #6332F6; 
    color: black;
}

.para a:hover{
    color: #6332F6;
}

.para a:visited{
    color: #0000EE;
}

.quesAns{
    margin-left: 50px;
}

.upperWave{
    background-image: url('/Binary-Misfits/Images/blogup.png')!important;
    background-repeat: no-repeat;
    height: 20vw;
    background-position: bottom;
    background-size: 100vw;
    margin-bottom: -2px;
} 

/* Back to Top Button ki CSS */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #41239b;
  font-family: "Roboto", sans-serif;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: ease-in-out 0.2s;
}

#myBtn:hover {
    background-color: #555;
  }