@media only screen and (min-width: 1920px){
    .games{
        row-gap: 4.3125rem;
    }
}

@media only screen and (min-width: 2560px){
    .games{
        row-gap: 5rem;
    }
}

@media only screen and (min-width: 3840px){
    .games{
        row-gap: 8.125rem;
    }
}


/* Non-standard media query~ Ishaan */
@media only screen and (min-width: 914px){ 
    .games{
        row-gap: 3.125rempx;
    }

    .heading{
        justify-content: flex-start;
    }      
}

@media only screen and (min-width: 600px) and (max-width: 913px){
    .games{
        row-gap: 2.1875rem;
    }

    .heading{
        justify-content: flex-start;
    }
}