@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@font-face {
    font-family:'Aero';
    src: url('/Binary-Misfits/Fonts/Aero.ttf');
}
@font-face {
    font-family:'Forte';
    src: url('/Binary-Misfits/Fonts/FORTE.TTF');
}
@font-face {
    font-family:'Helvetica';
    src: url('/Binary-Misfits/Fonts/Helvetica.ttf');
}
@font-face {
    font-family:'Maldini';
    src: url('/Binary-Misfits/Fonts/MALDINI-NORMAL.otf');
}
@font-face {
    font-family:'Minecraft';
    src: url('/Binary-Misfits/Fonts/Minecraft.ttf');
}
@font-face {
    font-family:'Roboto';
    src: url('/Binary-Misfits/Fonts/Roboto-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #5C09FA;
}

body{
    color: white;
    font-family: "Roboto", sans-serif;
    background-image: url(/Binary-Misfits/Games/PacMan/pacman\ bg.jpg);
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: brightness(40%) blur(1.6rem) contrast(90%); 
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

h1{
    color: white;
    font-size: 3rem;
}

h2{
    color: white;
    font-size: 2.6rem;
}

h3{
    font-family: "Minecraft", sans-serif;
    padding: 10px;
}

ol{
    color: white;
    text-align: justify;
    width: 80%;
}

li{
    margin-bottom: 1rem;
    padding-left: 10px;
    line-height: 21px;
}

.aboutGame{
    width: 70%;
    display: flex;
    flex-direction: row;
    padding-top: 4rem;
    /* background-color: #1019278f; */
}

.backToHomePage{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 1.75rem;
    position: absolute;
    left: 20px;
    top: 20px;
    color: #5C09FA;
}

.backToHomePage h3{
    padding-top: 1.1rem;
}

.backToHomePage:hover i, .backToHomePage:hover h3{
    color: white;
    text-shadow: 0 0 12px #5C09FA;
}

.card{
    background-color: white;
    /* background-color: #1b1b2f; */
    width: 60%;
    padding: 55px 20px;
    border-radius: 15px;
    margin-right: 20px;
    box-shadow: 0 0 12px black;
}

.description{
    width: 90%;
    line-height: 24px;
}

.gameCard{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameInfo{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.instructions{
    width: 30%;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.178);
    padding-top: 4rem;
    /* background-color: #101927b6; */
}

.instructionHeading{
    padding-bottom: 2rem;
}

.logo{
    height: 80px;
    width: 64px;
}

.play{
    font-size: 1.7rem;
    width: fit-content;
    color: white;
    background-color: transparent;
    padding: 8px 18px;
    border-radius: 15px;
    border: 2px solid white;
    text-decoration: none;
    margin: 50px 0;
}

.play:hover{
    border-color: transparent;
    background-color: #5C09FA;
}


/* Media Queries */

@media only screen and (max-width: 991px){
    body{
        overflow-x: hidden;
    }

    .gameCard{
        display: none;
    }

    .gameInfo{
        margin-left: 4rem;
    }
}

@media only screen and (max-width: 769px){
    body{
        flex-direction: column;
        overflow-y: auto;
    }

    ol{
        margin: 0 auto;
    }

    .aboutGame{
        width: 100%;
        padding: 10rem 0 5.4rem 0;
    }

    .gameInfo{
        margin: 0 auto;
    }

    .instructions{
        width: 100%;
        padding: 4rem 0 1.6rem 0;
        align-items: flex-start;
        /* margin: 0 auto; */
        /* padding-left: 14%; */
    }

    .instructionHeading{
        margin: 0 auto;
    }
}